<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>도시</th>
                <th>거리</th>
                <th>우편번호</th>
                <th>전화번호</th>
                <th>    </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patientDto : ${patientDtoList}">
                <td th:text="${patientDto.id}"></td>
                <td th:text="${patientDto.name}"></td>
                <td th:text="${patientDto.age}"></td>
                <td th:text="${patientDto.sex}"></td>
                <td th:text="${patientDto.city}"></td>
                <td th:text="${patientDto.street}"></td>
                <td th:text="${patientDto.zipcode}"></td>
                <td th:text="${patientDto.phoneNumber}"></td>
                <td>
                    <a href="#" th:href="@{/patients/{id}/edit (id=${patientDto.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>