<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${patientDto}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="age">나이</label>
            <input type="number" th:field="*{age}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="sex">성별</label>
            <div th:each="sexType : ${T(reservation.hospital.domain.SexType).values()}">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" th:field="*{sex}" th:value="${sexType}" class="custom-control-input">
                    <label class="custom-control-label" th:for="${#ids.prev('sex')}" th:text="${sexType}">성별</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}" class="form-control"
                   placeholder="도시를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="street">거리</label>
            <input type="text" th:field="*{street}" class="form-control"
                   placeholder="거리를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="zipcode">우편번호</label>
            <input type="text" th:field="*{zipcode}" class="form-control"
                   placeholder="우편번호를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="phoneNumber">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control"
                   placeholder="전화번호를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/patients/{id}/remove (id=${patientDto.id})}'|">
            Remove</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>